<!DOCTYPE html>
<html>

<head>
    <title>List Employee</title>
</head>

<body>
    <h1>List Employee</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Position</th>
            <th>Salary</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.salary }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>